body {
    margin: 0;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 25%;
    margin: 5rem auto;
    padding: 18px 0 40px 0;
    border-radius: 1.2em;
}

.img-QR-scan {
    width: 90%;
    border-radius: 0.8em;
}

h2 {
    width: 80%;
    margin: 20px auto;
    color: hsl(218, 44%, 22%);
}

p {
    width: 80%;
    margin: auto;
    color: hsl(220, 15%, 55%);
}